## Hackathon CDIA PUC

## O que é um Hackathon?

o Hackathon é um evento que reúne programadores, designers e outros profissionais ligados ao desenvolvimento de software para uma maratona de programação, cujo objetivo é desenvolver um software ou solução tecnológica que atenda a um fim específico.

## Como funciona o Hackathon de CDIA da PUC?

Iremos desenvolver um modelo de machine learning para predizer algum dado, no mesmo estilo de uma competição do Kaggle.

Poderemos ter que resolver um problema de regressão, classificação, etc. Qualquer problema que possamos treinar um modelo e usar um target como métrica de performance

## Diagrama Funcionamento Hackathon
<img src="img/Diagrama Hackathon.png" alt="Diagrama Dinâmica Hackatho" />

# Dinâmica do Hackathon

- um dataset mãe será dividido em treino e teste

O dataset treino com features e target será enviado aos alunos junto com o dataset de teste, mas esse somente com as features.

Os alunos treinaram o seus modelos no dataset de treino e usarão então seu modelo treinado para predizer os targets do dataset de teste.

Os alunos vão então submeter essa predição para o professor como um arquivo csv junto com o seu caderno.

O professor juntará então todas as submissões e avaliará a performance delas. Será divulgado um ranking final com os vencedores (as predições que melhor performaram). Ao final os cadernos serão compartilhados e os alunos e o professor terão a oportunidade de discutir quais abordagens derão mais certo ou não para a solução do problema.

- precisa avaliar problema de classificação e regressão

- gerar caderno exemplo de participação no hackathon

- alunos submetem atividade e professor ao final avalia todas as submissoes. Os cadernos de todas as pessoas devem ser públicos no final

- alunos submetem atividade e professor ao final avalia todas as submissoes. Os cadernos de todas as pessoas devem ser públicos no final

**Vantagens da dinâmica**:
- alunos aprendem o quaõ importante é fazer um modelo que realmente performa bem em dados nunca antes visto
- os alunos ao verificar quais cadernos performaram melhor podem trocar conhecimento sobre as melhores técnicas e práticas

## Professor

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data', header=None)
df.columns = ['sepal length', 'sepal width', 'petal length', 'petal width', 'class']
df.head()

   sepal length  sepal width  petal length  petal width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [3]:
# Recomendado
# Códificando classes
df['class'] = pd.factorize(df['class'])[0]

In [4]:
df.shape

(150, 5)

In [5]:
df.head()

   sepal length  sepal width  petal length  petal width  class
0           5.1          3.5           1.4          0.2      0
1           4.9          3.0           1.4          0.2      0
2           4.7          3.2           1.3          0.2      0
3           4.6          3.1           1.5          0.2      0
4           5.0          3.6           1.4          0.2      0

In [6]:
def gerar_train_test(df_, **kwargs):
    """
    A partir de um dataframe gera dois csvs de treino e teste, os labels do teste são ocultos
    
    Parameters
    ----------
    df: pd.DataFrame
        Matriz de dados que serão trabalhados
    
    test_size: float
        Razão dos dados totais que serão usados para calcular o score
    """
    train_set, test_set = train_test_split(df_, **kwargs)
    return train_set.reset_index(drop=True), test_set.reset_index(drop=True)

In [7]:
train_set, test_set = gerar_train_test(df)

In [8]:
train_set.to_csv('train_set.csv', index=False)

In [40]:
# Test set com target para o professor usar-lo para avaliação posterior
train_set['class'].to_csv('test_set-professor.csv', index=False)

In [10]:
# Salvando test_set sem o target para as submissões dos competidores
train_set[['sepal length', 'sepal width', 'petal length', 'petal width']].to_csv('test_set.csv', index=False)

### Competidor

In [11]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [12]:
df_competidor = pd.read_csv('train_set.csv')
df_competidor.head()

   sepal length  sepal width  petal length  petal width  class
0           5.0          2.0           3.5          1.0      1
1           6.7          3.0           5.0          1.7      1
2           7.3          2.9           6.3          1.8      2
3           6.3          2.8           5.1          1.5      2
4           5.1          3.8           1.6          0.2      0

In [13]:
X_train, X_test, y_train, y_test = train_test_split(
    df_competidor[['sepal length', 'sepal width', 'petal length', 'petal width']], df_competidor['class'])

In [14]:
modelo = LogisticRegression().fit(X_train, y_train)

In [15]:
y_pred = modelo.predict(X_test)

In [16]:
print(f'Acurácia do modelo na validação do competidor: {accuracy_score(y_test, y_pred):.3f}')

Acurácia do modelo na validação do competidor: 1.000

In [17]:
df_submissao = pd.read_csv('test_set.csv')
df_submissao.head()

   sepal length  sepal width  petal length  petal width
0           5.0          2.0           3.5          1.0
1           6.7          3.0           5.0          1.7
2           7.3          2.9           6.3          1.8
3           6.3          2.8           5.1          1.5
4           5.1          3.8           1.6          0.2

In [18]:
y_submissao = pd.DataFrame(modelo.predict(df_submissao))
y_submissao

     0
0    1
1    2
2    2
3    2
4    0
..  ..
107  1
108  1
109  0
110  0
111  2

[112 rows x 1 columns]

In [ ]:
# Submissao com duas colunas ao invés de 1
y_submissao.to_csv('submissoes/submissao_lucaslopes_v0.csv')

In [39]:
# Submissao correta
y_submissao.to_csv('submissoes/submissao_lucaslopes_v1.csv', index=False)

In [37]:
def verificar_submissao(filename):
    """
    Verifica se o arquivo que os alunos geraram tem a quantidade de colunas certa para a submissao, tipo de dados
    """
    submissao = pd.read_csv(filename)
    
    n_cols = len(submissao.columns)
    
    if n_cols != 1:
        raise ValueError(f'Sua submissão deveria ter apenas uma coluna, mas tem {n_cols} colunas')

Escolhendo métrica para avaliação:

Como sugestão,

In [ ]:
from sklearn.metrics import accuracy_score

In [1]:
import glob
import os
def avaliar_submissoes(folder_dir, test_set_path, eval_metric=None):
    """
    A partir de uma pasta de csvs gera um dataframe com o scoreboard dos modelos e outro com as submissões inválidas e seus respectivos erros.
    
    Parameters
    ----------
    folder_dir: str
        caminho da pasta de csvs com as submissões
    test_set_path: str
        caminho do csv do dataset de teste - só com a coluna target
    eval_metric: function(y_true, y_pred) -> int
        função para avaliar a performance das submissões
        dica: importe uma função da biblioteca sklearn.metrics
        
    Returns
    -------
        tuple: df_resultados, df_sub_invalidas
            df_resultados: pd.DataFrame, com colunas 'submissao' para o
            nome do arquivo da submissão e 'score' para o score da
            respectiva submissão.
            df_sub_invalidas: pd.DataFrame, com colunas 'submissao' para o
            nome do arquivo da submissão e 'erro' para a exceção da
            respectiva submissão.
    """
    # Encontra todos os arquivos das submissões
    lista_submissoes = glob.glob(folder_dir)
    
    # Separa os dados de teste
    test_set_ = pd.read_csv(test_set_path).values
    
    dict_resultados = dict()
    
    submissoes_invalidas = dict()
    for f in lista_submissoes:
        nome_arquivo = os.path.basename(f)
        
        # Se ocorrer qualquer erro durante o teste, a submissão é considerada inválida
        try:
            # Lê o arquivo de submissão com o pandas
            sub = pd.read_csv(f, header=0).values
            
            # Avalia a submissão de acordo com a métrica escolhida
            score = eval_metric(test_set_, sub)
            
            # Armazena os resultados
            dict_resultados['submissao'] = dict_resultados.get('submissao', []) + [nome_arquivo]
            dict_resultados['score'] = dict_resultados.get('score', []) + [score]
        
        # Armazena as submissões com erro
        except BaseException as e:
            submissoes_invalidas['submissao'] = submissoes_invalidas.get('submissao', []) + [nome_arquivo]
            submissoes_invalidas['erro'] = submissoes_invalidas.get('erro', []) + [e]
    
    df_resultados = pd.DataFrame(dict_resultados).sort_values(by='score', ascending=False)
    df_sub_invalidas = pd.DataFrame(submissoes_invalidas)
    
    return df_resultados, df_sub_invalidas

In [99]:
ranking, sub_erradas = avaliar_submissoes('submissoes/*.csv', 'test_set-professor.csv', eval_metric=accuracy_score)

In [100]:
ranking

                     submissao     score
0  submissao_lucaslopes_v1.csv  0.964286

In [97]:
sub_erradas

,submissao,erro
0,submissao_lucaslopes_v0.csv,Classification metrics can't handle a mix of m...

## Alunos

In [38]:
verificar_submissao('submissao_lucaslopes_v1.csv')

ValueError: Sua submissão deveria ter apenas uma coluna, mas tem 2 colunas